
#root {
 width:100%;
 height:100%;
 color:white;
 overflow :hidden;
}
.head1{
    font-size: 1.9rem;
    text-align: center;
    color:#feaca1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    text-shadow: 1px 1px 0px red;
}
#langing-page{
    position: relative;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;   
}
#box{
    
    position: absolute;
    background-color:rgba(128, 128, 131, 0.733);
    backdrop-filter: blur(10px);
    border:1px solid white;
    width:37%;
    height:45%;
    border-radius: 0.7rem;
}
.box1{
    position:relative;
    top:5%;
    left:7%;
    width: 86.3%;
    background-color: rgba(255, 255, 255, 0.813);
    height:25%;
    border-radius: 5px;
    border:1px solid white;
   
}
.sbox1{
    color: rgb(48, 48, 48);
    font-size: 1.3rem;
    border: none;
    font-family:Gill Sans;
   
}
.sbox2{
    width: 60%;
    height: 36%;
    background-color: rgba(255, 255, 255, 0.813);
    border:5px solid #747bff;
    color: rgb(48, 48, 48);
    font-size: 1.5rem;
    border: none;
    font-family:Gill Sans;
   
    padding: 0.2rem 0.4rem;
}
#convert{
    position: relative;
    top: 11%;
    left: 6.95%;
    width: 87%;
    background:linear-gradient(to right,blue,darkblue) ;
    height: 14%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    letter-spacing: 0.7px;
    font-family:'Times New Roman', Times, serif;
}
#convert:hover{
    cursor: pointer;
    box-sizing: border-box;
    border:2px solid #646cff;
   
}
span{
    color: rgb(48, 48, 48);
    font-size: 1.3rem;
   
}
#span1{
    left: 65.5%;
}
#type1{
    padding: 0.01rem 0.3rem;
    font-weight:550;
    width: 3.9rem;
    height: 1.9rem;
    border-radius: 4px;
    
}
.optioninput{
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
}
.optioninput1{
    display: flex;
    width:90%;
    margin: 0 auto;
    justify-content: space-between;
}
#type2{
    padding: 0.01rem 0.3rem;
    font-weight:550;
    width: 3.9rem;
    height: 1.8rem;
    border-radius: 4px;
   
}
 
@media(max-width:1220px){
    #box{
        width:45%;
        height:49%;
    }
}
@media(max-width:900px){
    #box{
        width:55%;
        height:49%;
    }
}
@media(max-width:700px){
    #box{
        width:65%;
        height:49%;
    }
}
@media(max-width:500px){
    #box{
        width:85%;
        height:49%;
    }
}
@media(max-width:400px){
    #box{
        width:85%;
        height:49%;
    }
    .head1{
        font-size: 1.6rem;
    }
}
